* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(5, 7, 41) url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover  ;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    display: flex;
}

.aside-block {
    box-sizing: border-box;
    width: 350px;
    background: rgba(11,11,13,0.4);
    text-align: center;
    padding: 70px 50px 100px 50px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 7px;
}

.active {
    color: blueviolet;
}
.aside-block .active:hover {
    color: blueviolet;
}

.aside-block ul {
    list-style-type: none;
}
.aside-block li {
    padding-top: 40px;
}
.aside-block li:hover {
    color: #F2C94C;
}

.main {
    width: 1090px;
    position: relative;
}


.social-block {
    position: absolute;
    background-color: #a276ff;
    width: 200px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    right: 0;
}

.main-content {
    box-sizing: border-box;
    margin-top: 200px;
    padding-left: 100px;
}
.main-content h1 {
    width: 513px;
    text-transform: uppercase;
    color: var(--FFF, #FFF);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 104px; /* 185.714% */
    margin-bottom: 40px;
}

.main-content b {
    color: var(--A276FF, #A276FF);
    font-family: Oswald;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 117px;
}
.main-content b:hover {
    color: #F2C94C;
}
.main-content p {
    padding-bottom: 40px;
    color: var(--FFF, #FFF);
    /* Body font */
font-family: Roboto;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: 155.187%; /* 45.004px */
}

.main-content-img img {
    width: 200px;
    box-sizing: border-box;
    margin-right: 10px;
    border: 6px solid #Fff;
}

.main-content-img img:hover {
    border: 6px solid #F2C94C;
}

.news-line {
    color: #FFF;
    display: flex;
    text-transform: uppercase;
}

.block-figure {
    background: url(img/Downward\ triangle.svg);
    width: 33px;
    height: 26px;
}
.block-figure:hover {
    background: url(img/Downward\ triangle\ \(1\).svg);
    width: 33px;
    height: 26px;
}